:root {
  --vector-color: rgb(0, 0, 0, 0.8);
  --edge-color: rgb(0, 0, 0, 0.3);
  --body-background-color: rgb(255, 255, 255);
}

body {
  background: radial-gradient(var(--vector-color) 3px, transparent 4px),
    radial-gradient(var(--vector-color) 3px, transparent 4px),
    linear-gradient(var(--body-background-color) 4px, transparent 0),
    linear-gradient(
      45deg,
      transparent 74px,
      transparent 75px,
      var(--edge-color) 75px,
      var(--edge-color) 76px,
      transparent 77px,
      transparent 109px
    ),
    linear-gradient(
      -45deg,
      transparent 75px,
      transparent 76px,
      var(--edge-color) 76px,
      var(--edge-color) 77px,
      transparent 78px,
      transparent 109px
    ),
    var(--body-background-color);
  background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

.container {
  max-width: 800px;
  font-family: "Merriweather", serif;
}

.App-header section {
  display: block;
  background-color: rgba(243, 240, 235, 0.8);
  border-radius: 10px;
  border: 3px solid rgba(126, 124, 124, 0.2);
  padding: 44px;
  margin: 40px 0;
}

.App-header section h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
