.Photos img {
  border-radius: 6px;
}

.Photos img:hover {
  transform: scale(1.2);
  transition: all 200ms ease-in-out;
}

.Photos h1 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
  padding-bottom: 20px;
}
