.Synonyms ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  font-size: 18px;
  line-height: 2;
}

section.Synonyms {
  text-align: center;
  background-color: rgba(252, 236, 220, 0.8);
  max-width: 50%;
}
